@model ServiceBooking.WEB.Models.CreateResponseViewModel

@using (Html.BeginForm("Send", "Responses", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="well" style="padding-bottom: 5px; padding-top: 5px;">
        <div class="form-group">
            <h3>Leave your response!</h3>
            <br />
            <div class="row" style="margin-bottom: 0;">
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { Style = "max-width: 100%; width: 100%; height: 100px; resize: none; margin-bottom: 0;", @class = "form-control" } })
                </div>
                <div class="col-sm-3" style="text-align:center">
                    <h4>Your rating</h4>
                    <br />
                    @for (int i = 0; i < ViewBag.Rating; i++)
                    {
                        <img style="height: 30px; float: none; margin-left: 7px; margin-right: 7px" src="@Url.Content(@"~/Content/star.png")" alt="" />
                    }
                    @for (int i = ViewBag.Rating; i < 5; i++)
                    {
                        <img style="height: 30px; float: none; margin-left: 7px; margin-right: 7px" src="@Url.Content(@"~/Content/emptystar.png")" alt="" />
                    }
                </div>
            </div>
            @Html.HiddenFor(model => model.OrderId)
            
        </div>

        <div class="form-group">
            <input type="submit" value="Send" style="width: 120px; margin-top: 0" class="btn btn-default" />
            @if ((bool)ViewBag.ResponseIsEmpty)
            {
                @Html.ValidationMessageFor(model => model.Text, "Response can't be empty", new { @class = "text-danger" })
            }
        </div>
    </div>
}