@using System.Collections
@model ServiceBooking.WEB.Models.CreateOrderViewModel

@{
    ViewBag.Title = "Place an Order";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<SelectListItem> categories = ViewBag.CategoryList;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Orders", null, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6" style="margin-bottom: 100px;">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { Style = "resize: none;", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { Style = "resize: none;", @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Category, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Category", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CompletionDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CompletionDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CompletionDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Price, "Price, $", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-left: 0">
                @{
                    ViewBag.SideLength = 360;
                    ViewBag.Path = ViewBag.DefaultPath;
                    @Html.Partial("ImagePicker")
                }
            </div>
            <div class="col-sm-1"></div>    
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Orders", "Index", "Orders")
</div>
