@model ServiceBooking.WEB.Models.DeleteOrderViewModel

@{
    ViewBag.Title = "Delete Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this order?</h3>
<hr />
<b style="font-size: 25pt">
    @Html.DisplayFor(model => model.Name)
</b>
<h3>
    Posted @Html.DisplayFor(model => model.UploadDate) by @Html.DisplayFor(model => model.CustomerName)
</h3>

@using (Html.BeginForm("Delete", "Orders", new
    {
        isMyOrdersPage = ViewBag.IsMyOrdersPage,
        isNewOrdersPage = ViewBag.IsNewPage,
        currentCategoryId = ViewBag.CurrentCategoryId
    }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" />

        @Html.ActionLink("Cancel", "Index", "Orders", new
       {
           myOrders = ViewBag.IsMyOrdersPage,
           newApplications = ViewBag.IsNewPage,
           currentCategoryId = ViewBag.CurrentCategoryId
       }, new { @class = "btn btn-default" })
    </div>
}