@using Microsoft.AspNet.Identity
@using ServiceBooking.WEB.Models
@model ServiceBooking.WEB.Models.DetailsOrderViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<IndexResponseViewModel> responses = Model.Responses;
}

<div class="row">
    <div class="col-sm-9">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
    </div>
    <div class="col-sm-3" style="float: right">
        @if (Request.IsAuthenticated)
        {
            <br />
            if (Model.CustomerId == User.Identity.GetUserId<int>() && Model.AdminStatus && ViewBag.StatusMessage != null)
            {
                string statusMessage = ViewBag.StatusMessage;
                @Html.ActionLink(statusMessage, "ChangeStatus", "Orders", new { orderId = Model.Id }, new { Style = "margin-right: 10px;", @class = "btn btn-primary" })
            }
            if ((Model.CustomerId == User.Identity.GetUserId<int>() && Model.AdminStatus) || User.IsInRole("admin"))
            {
                @Html.ActionLink("Delete", "Delete", "Orders", new
       {
           id = Model.Id,
           isMyOrdersPage = ViewBag.IsMyOrdersPage,
           isNewOrdersPage = ViewBag.IsNewOrdersPage,
           currentCategoryId = ViewBag.CurrentCategoryId
       }, new { @class = "btn btn-primary" })
            }
        }
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-9">
        Published @Html.DisplayFor(model => model.UploadDate) by <b style="font-size: 18px;"><u>@Html.DisplayFor(model => model.CustomerName)</u></b>
        <br />
        <h4>@Html.DisplayTextFor(model => model.Description)</h4>
        <h5>
            To finish by @Html.DisplayFor(model => model.CompletionDate) &emsp;
            <b>@Html.DisplayFor(model => model.Category)</b>
        </h5>
    </div>
    <div class="col-sm-3">
        <h4>@Html.DisplayFor(model => model.Price) $</h4>
        <h4>@Html.DisplayFor(model => model.Status)</h4>
    </div>
</div>

@if (Request.IsAuthenticated && User.IsInRole("admin") && !Model.AdminStatus)
{
    <p>
        @Html.ActionLink("Confirm", "Confirm", "Orders", new {id = Model.Id}, new {@class = "btn btn-primary btn-lg"})
        @Html.ActionLink("Reject", "Reject", "Orders", new {id = Model.Id}, new {@class = "btn btn-primary btn-lg"})
    </p>
}
else
{
    <h2>Responses</h2>
    if (ViewBag.IsPerformer & User.Identity.GetUserId<int>() != Model.CustomerId &&
         responses.Select(r => r.PerformerId).All(pid => pid != User.Identity.GetUserId<int>()))
     {
         @Html.Partial(@"~/Views/Responses/Create.cshtml", new CreateResponseViewModel {OrderId = Model.Id})
     }

    if (!Model.Responses.Any())
     {
         <h3>No responses</h3>
     }
     else
     {
         @Html.Partial(@"~/Views/Responses/Index.cshtml", responses)
     }
}