@using Microsoft.AspNet.Identity
@using ServiceBooking.WEB.Models
@model ServiceBooking.WEB.Models.DetailsOrderViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<IndexResponseViewModel> responses = Model.Responses;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
@Html.ActionLink("← Back to List", "Index") |
@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
<hr/>
<div class="row">
    <div class="col-sm-9">
        Published @Html.DisplayFor(model => model.UploadDate)
        <br />
        <h4>@Html.DisplayTextFor(model => model.Description)</h4>
        <h5>
            To finish by @Html.DisplayFor(model => model.CompletionDate) &emsp;
            <b>@Html.DisplayFor(model => model.Category)</b>
        </h5>
    </div>
    <div class="col-sm-3">
        <h4>@Html.DisplayFor(model => model.Price) $</h4>
        <h4>@Html.DisplayFor(model => model.Status)</h4>
    </div>
</div>

<h2>Responses</h2>
@if (ViewBag.IsPerformer & User.Identity.GetUserId<int>() != Model.CustomerId && 
    responses.Select(r => r.PerformerId).All(pid => pid != User.Identity.GetUserId<int>()))
{
    @Html.Partial(@"~/Views/Responses/Create.cshtml", new CreateResponseViewModel {OrderId = Model.Id})
}

@if (!Model.Responses.Any())
{
    <h3>No responses</h3>
}
else
{
    @Html.Partial(@"~/Views/Responses/Index.cshtml", responses)
}