@model IEnumerable<ServiceBooking.WEB.Models.CategoryViewModel>

@{
    int itemsAmount = 0;
    foreach (var item in Model)
    {
        itemsAmount += item.ItemsAmount;
    }
}

<h3>Categories</h3>
<div class="list-group">
    @if (ViewBag.CurrentCategoryId == null)
    {
        <a href="@Url.Action("Index", "Orders", new
                 {
                     newApplications = ViewBag.IsNewOrdersPage,
                     myOrders = ViewBag.IsMyOrdersPage
                 })" class="list-group-item active">All &emsp;<span><b>@itemsAmount</b></span></a>
    }
    else
    {
        <a href="@Url.Action("Index", "Orders", new
        {
            newApplications = ViewBag.IsNewOrdersPage,
            myOrders = ViewBag.IsMyOrdersPage
        })" class="list-group-item">All &emsp;<span><b>@itemsAmount</b></span></a>
    }

    @foreach (var item in Model)
    {
        if (ViewBag.CurrentCategoryId == item.Id)
        {
            <a href="@Url.Action("Index", "Orders", new
                     {
                         categoryId = item.Id,
                         newApplications = ViewBag.IsNewOrdersPage,
                         myOrders = ViewBag.IsMyOrdersPage
                     })" class="list-group-item active">@item.Name &emsp;<span><b>@item.ItemsAmount</b></span></a>
        }
        else
        {
            <a href="@Url.Action("Index", "Orders", new
                     {
                         categoryId = item.Id,
                         newApplications = ViewBag.IsNewOrdersPage,
                         myOrders = ViewBag.IsMyOrdersPage
                     })" class="list-group-item">@item.Name &emsp;<span><b>@item.ItemsAmount</b></span></a>
        }
    }
</div>

