@model IEnumerable<ServiceBooking.WEB.Models.CategoryViewModel>

@{
    int itemsAmount = ViewBag.ItemsAmount;
    string className = string.Empty;
}

<h3>Categories</h3>
<div class="list-group">
    @if (ViewBag.CurrentCategoryId == null)
    {
        className = "active";
    }
    <a href="@Url.Action("Index", ViewBag.Title, new
        {
            newApplications = ViewBag.IsNewPage,
            myOrders = ViewBag.IsMyOrdersPage,
            sort = ViewBag.Sort
        })" class="list-group-item @className">All &emsp;<span><b>@itemsAmount</b></span></a>

    @foreach (var item in Model)
    {
        if (ViewBag.CurrentCategoryId == item.Id)
        {
            className = "active";
        }
        else
        {
            className = string.Empty;
        }
        <a href="@Url.Action("Index", ViewBag.Title, new
                     {
                         categoryId = item.Id,
                         newApplications = ViewBag.IsNewPage,
                         myOrders = ViewBag.IsMyOrdersPage,
                         sort = ViewBag.Sort
                     })" class="list-group-item @className">@item.Name&emsp;<span><b>@item.ItemsAmount</b></span></a>
    }
</div>

