@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Service Booking</h1>
    <p class="lead">A convenient way to find a performer for your order.</p>
    @if (Request.IsAuthenticated && User.IsInRole("admin"))
    {
        <p>
            @Html.ActionLink("New orders", "Index", "Orders", new { newApplications = true }, new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("New performers", "Index", "Performers", new { newApplications = true }, new { @class = "btn btn-primary btn-lg" })
        </p>
    }
    else if(Request.IsAuthenticated)
    {
        <p>
            <a href="~/Orders/Create" class="btn btn-primary btn-lg">Place an order</a>
            <a href="~/Home/Index" class="btn btn-primary btn-lg">Become a performer</a>
        </p>
    }
    else
    {
        <p>
            <a href="~/Account/Login" class="btn btn-primary btn-lg">Place an order</a>
            <a href="~/Home/Index" class="btn btn-primary btn-lg">Become a performer</a>
        </p>
    }
</div>

<h1>How does it work?</h1>
<h3>Simple, profitable, reliable. Just 3 steps - and you will find the perfect performer for your order.</h3>
<div class="row">
    <div class="col-md-6">
        <h2>1. Place an order</h2>
        <h3>
            Describe in details your order and specify conditions - price and terms.
        </h3>
    </div>
    <div class="col-md-6">
        <img style="height: 300px; float: right; margin-left: 20px" src="@Url.Content(@"~/Content/Размещение-заказа.jpg")" alt="" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img style="height: 300px; float: left; margin-right: 20px" src="@Url.Content(@"~/Content/feedback.png")" alt="" />
    </div>
    <div class="col-md-6">
        <h2>2. Learn the feedback</h2>
        <h3>
            Wait for responses from the performers and compare them.
            All information is at hand: price, comments and rating of the performer.
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>3. Choose the performer</h2>
        <h3>
            Choose the performer that suits you and contact him to coordinate the execution of the order.
            After completing the order - leave a review.
        </h3>
    </div>
    <div class="col-md-6">
        <img style="height: 300px; float: right; margin-left: 20px" src="@Url.Content(@"~/Content/153.jpg")" alt="" />
    </div>
</div>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-6">
        <h1>How to become a performer</h1>
        <h3>
            Everything is very simple. Fill out the application
            and wait until the moderator checks the application.
            Now you can respond to orders!
        </h3>
        <p><a href="/Home/Index" class="btn btn-primary btn-lg">Become a performer</a></p>
    </div>
    <div class="col-md-6">
        <img style="height: 300px; float: right; margin-left: 20px" src="@Url.Content(@"~/Content/images.jpg")" alt="" />
    </div>
</div>